img{
    width: 30%;
    height: 30%;
}
header{
width: 97% ;
margin: 0 auto;
height: 60px ;
background-color:black;
}
header ul li{
    float: left;
    list-style: none;
    padding-top: 20px;
    padding-right:20px;
    color: white;
    font-size: 18px;
}
body{
    margin-left: 5px;
    margin-right: 5px;
}
main{
    clear: both;
}
.main-container{
    width: 100%;
    margin-top: 5px;
}
.left h2{
    border-left:5px solid black;
    border-bottom: 3px solid gray;
    padding-left: 3px;
    margin-top: 1px;
    margin-left: 10px;
}
.box1{
    margin: 0 auto;
    background-color: whitesmoke;
    border: 3px lightgray solid;
    width: 670px;
}
form div{
    padding: 10px;
}
.box1 h3{
    border-left:4px solid red;
    margin-top: 5px;
}
.submit{
    border: 1px lightgray solid;
    padding: 5px;
    color: white;
    background-color: dimgray;
    border-radius: 5px;
    border-bottom: 2px gray solid;
}
.box2{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 3px lightgray solid;
    width: 670px;
}
.box2 h3{
    border-bottom: 3px solid lightgray;
    margin-top: 5px;
}
.box3{
    padding-bottom: 3px;
}

.left{
    float: left;
    width: 57%;
    padding-left: 10px;
}

.right h3{
    border-bottom: 3px solid lightgray;
    margin-left: 3px;
    margin-right: 40px;
}
.right p{
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.right{
    float: right;
    width: 37%;
}
footer{
    clear: left;
    width: 95% ;
    margin: 0 auto;
    height: 50px ;
    background-color:black;
    color: white;
    bottom: 0px;
    text-align: center;
    line-height: 50px;
}