img{
    width: 30%;
    height: 45%;
}
header{
width: 95% ;
margin: 0 auto;
height: 60px ;
background-color:black;
}
header ul li{
    float: left;
    list-style: none;
    padding-top: 20px;
    padding-right:20px;
    color: white;
    font-size: 18px;
}
body{
    margin-left: 0px;
    margin-right: 0px;
}
main{
    clear: both;
}
.main-container{
    width: 100%;
    margin-top: 5px;
}
.left h2{
    border-left:5px solid black;
    border-bottom: 3px solid gray;
    padding-left: 3px;
    margin-top: 1px;
    margin-left: 10px;
}
p{
    margin-bottom: 0px;
}
.box1 img{
    width: 750px;
    float: right;
}
.box1 p{
    margin-left:20px; 
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 0px;
}
.box2{
    width: 750px;
    height: 350px;
    background-color: lightgray;
    text-align: center;
    float: right;
}

.box2 .box_pic2{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.box2 img{
    width: 165px;  
}
.box2 p{
    font-size: 12px;
    margin-left: 0px;
}
.left{
    float: left;
    border: 5px solid blue;
    width: 60%;
    height: 940px;
    padding-left: 10px;
    margin-left: 4px;
}
.right h3{
    border-bottom: 3px solid lightgray;
    margin-left: 3px;
    margin-right: 40px;
}
.right p{
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.right{
    float: left;
    border: 5px solid red;
    width: 37%;
    height: 940px;
}
footer{
    clear: left;
    width: 95% ;
    margin: 0 auto;
    height: 50px ;
    background-color:black;
    color: white;
    bottom: 0px;
    text-align: center;
    line-height: 50px;
}